body {
  /*padding: 50px;*/
  font: 14px"Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
td {
  padding: 0px;
  margin: 0px;
}
#vsebina {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#kanal {
  margin-bottom: 1em;
  background-color: #FFFF99;
}
#sporocila {
  width: 85%;
  height: 300px;
  overflow: auto;
  background-color: #FFFFCC;
  margin-bottom: 1em;
  margin-right: 10px;
}
#info {
  width: 15%;
  float: right;
}
.seznam {
  padding: 0px;
  margin: 0px;
  height: 150px;
  overflow: auto;
}
#uporabniki {
  border-top: 2px dashed #eee;
}

.seznam div {
  border-bottom: 1px solid #eee;
  cursor: pointer;
}
.seznam div:hover {
  background-color: #ddd;
}
#poslji-sporocilo {
  width: 81%;
  margin-bottom: 1em;
  margin-right: 1em;
}
#poslji-gumb {
  width: 3%;
}
#pomoc {
  font: 10px"Lucida Grande", Helvetica, Arial, sans-serif;
}